.pageContainer {
  padding-top: 3rem;
  color: white;
}

.contentContainer {
  max-width: var(--max-wrapper-width);
  margin-left: auto;
  margin-right: auto;
  padding: 3.5rem 0;
}

.contentGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .contentGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.sidebar {
  grid-column: span 1 / span 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mainContent {
  grid-column: span 1 / span 1;
}

@media (min-width: 1024px) {
  .mainContent {
    grid-column: span 3 / span 3;
  }
}
