.pageContainer {
  padding: 2rem 0;
  color: white;
}

.contentContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;

  padding: 0 20px;

  max-width: var(--max-wrapper-width);
}

@media only screen and (min-width: 1200px) {
  .contentContainer {
    padding: 0;
  }
}

.contentGrid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .contentGrid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .sidebar {
    grid-column: span 1 / span 1;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media (min-width: 1024px) {
  .mainContent {
    grid-column: span 3 / span 3;
  }
}
