.profileHeader {
  display: flex;
  flex-direction: column;
  gap: 15px;

  position: relative;

  width: 100%;
}

.profilePage {
  padding: 0 20px;
  margin-top: 20px;
}

.profilePageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: var(--max-wrapper-width);
  width: 100%;
}

.profileBanner {
  position: absolute;
  padding: 20px;
  background-color: white;
  width: 100%;
}

.userInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.userInfo {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 15px;
}

.profileIcon {
  height: 73px;
  width: 73px;

  position: relative;
}

.profileIcon > img {
  border-radius: 50%;
}

.displayAndUser {
  display: flex;
  flex-direction: column;
  gap: 8px;

  max-width: 200px;

  font-weight: bold;
}

.displayAndPronouns {
  display: flex;
  align-items: center;
  gap: 5px;
}

.displayName,
.username {
  overflow: hidden;
  word-wrap: break-word;
}

.displayName {
  font-size: 1.35em;

  word-wrap: break-word;
}

.username {
  color: #939589;
  font-size: 0.85em;
}

.pronouns {
  color: #939589;
}

.desktopProfileActionsWrapper {
  display: none;
}

.profileActions {
  display: flex;
  align-items: center;

  gap: 10px;
}

.editProfile,
.profileActionsToggle {
  padding: 9px 24px;
  border-radius: 9999px;
  background-color: rgb(71, 75, 76);

  margin-top: 3px;

  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  color: white;

  cursor: pointer;
}

.profileActionsToggle {
  border: none;
  padding: 0;
  margin-top: 0;

  width: 35px;
  height: 35px;
}

.profileActionsToggle > img {
  margin-top: 3px;

  filter: invert(75%) sepia(99%) saturate(7%) hue-rotate(356deg)
    brightness(102%) contrast(96%);
}

.editProfile:hover,
.profileActionsToggle:hover {
  background-color: rgb(91, 95, 96);
}

.aboutMe {
  margin-top: 0px;

  word-wrap: break-word;
}

.userStats {
  display: flex;
  gap: 20px;

  white-space: nowrap;
}

.userStatTitle {
  margin-bottom: 3px;

  color: #939589;

  font-weight: bold;
  font-size: 0.9em;
}

.sectionTitle {
  align-self: flex-start;

  font-size: 1.6em;
  font-weight: bold;
}

@media only screen and (min-width: 950px) {
  .profilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profilePageWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    height: 100%;
  }

  .userInfoWrapper {
    flex-direction: row;
    gap: 0;
  }

  .profileIcon {
    height: 110px;
    width: 110px;
  }

  .displayAndUser {
    width: 100%;
    max-width: 450px;
  }

  .mobileProfileActionsWrapper {
    display: none;
  }

  .desktopProfileActionsWrapper {
    display: flex;
  }

  .editProfile {
    margin-top: 0;
    align-self: center;
  }

  .userStatTitle {
    font-size: 1.1em;
  }
}
