.profileContainer {
  position: relative;
  padding-top: 0.5rem;
}

.sectionWrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  padding: 0 20px;

  max-width: var(--max-wrapper-width);
}

@media only screen and (min-width: 1200px) {
  .sectionWrapper {
    padding: 0;
  }
}

.recentlyPlayed {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1.5rem 0;
  background-color: rgba(255, 255, 255, 0.02);
}

.recentlyPlayedHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.sectionTitle {
  font-size: 1.25rem;
  font-weight: 700;

  color: #fff;
}

.viewHistory {
  display: flex;
  align-items: center;

  background: none;
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  padding: 8px 10px;
  cursor: pointer;
  font-size: 0.875rem;
  display: flex;
  gap: 13px;

  transition: background-color 0.2s;
}

.viewHistory > img {
  filter: var(--foreground-svg-filter);

  margin-top: 2px;
}

.viewHistory:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.tracksContainer {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1.25rem;
}

.affinities {
  padding: 2.3rem 0;
}
