.recentTracks {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.trackItem {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s;

  cursor: pointer;
}

.trackItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.recentTrackImageContainer {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  overflow: hidden;
  flex-shrink: 0;
}

.recentTrackInfo {
  display: flex;
  flex-direction: column;

  flex: 1;
  min-width: 0;

  font-size: 0.75rem;

  user-select: none;
}

.recentTrackTitle {
  font-weight: 500;
  font-size: 0.875rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: #fff;
}

.recentTrackArtistsAndAlbum {
  display: flex;

  gap: 0.225rem;
}

.recentTrackArtistsAndAlbum > span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  color: rgba(255, 255, 255, 0.6);
}

.trackTime {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.75rem;
}
