.mobileMenuToggle,
.mobileMenuToggleActive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: inherit;

  transition: background-color 0.15s ease-in;

  width: 40px;
  height: 40px;

  position: relative;

  border: none;
  border-radius: 5px;
  padding: 10px;

  cursor: pointer;
}

.mobileMenuToggle:hover,
.mobileMenuToggleActive:hover {
  background-color: #1b1b1b;
}

.mobileMenuToggle span,
.mobileMenuToggleActive span {
  display: block;
  position: absolute;

  width: 28px;
  height: 3px;

  background-color: #b1aaa0;

  transition: all 0.3s ease;

  margin-top: -2px;
}

.mobileMenuToggle span:nth-child(1) {
  top: 10px;
}

.mobileMenuToggle span:nth-child(2) {
  top: 20px;
}

.mobileMenuToggle span:nth-child(3) {
  top: 30px;
}

.mobileMenuToggleActive span:nth-child(1) {
  transform: rotate(45deg);
  top: 20px;
}

.mobileMenuToggleActive span:nth-child(2) {
  opacity: 0;
}

.mobileMenuToggleActive span:nth-child(3) {
  transform: rotate(-45deg);
  top: 20px;
}

.mobileMenu {
  margin-top: 60px;
  margin-left: -20px;

  position: absolute;

  width: 100%;
}

.mobileMenuInteriorWrapper {
  display: flex;
  flex-direction: column;

  background-color: #0a0a0a;

  gap: 30px;

  width: 100%;
}

.mobileMenuInteriorWrapper > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;

  list-style-type: none;
}

.mobileMenuInteriorWrapper > ul:last-child {
  border-top: 1px solid #1b1b1b;
  padding-top: 20px;
}

.mobileMenuInteriorWrapper button {
  background-color: #0a0a0a;
  color: hsla(0, 0%, 63%, 1);

  width: 100%;
  height: 50px;

  padding-left: 20px;
  border: none;
  border-radius: 10px;

  transition: background-color 0.15s ease-in;

  text-align: left;
  font-size: 1.05em;

  cursor: pointer;
}

.mobileMenuInteriorWrapper button > a {
  display: flex;
  align-items: center;

  height: 100%;
}

.mobileMenuInteriorWrapper button:hover {
  background-color: #1b1b1b;
}

.profileBtn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileBtn > img {
  border-radius: 50%;
}

.profileBtn > a {
  flex: 1;
}

@media only screen and (min-width: 950px) {
  .mobileMenu {
    display: none;
  }

  .mobileMenuToggleWrapper {
    display: none;
  }
}
