.profileIconWrapper {
  display: none;
}

.profileIcon,
.profileIcon > img {
  border-radius: 50%;
}

.profileIcon {
  background: none;
  border: none;

  cursor: pointer;
}

@media only screen and (min-width: 950px) {
  .profileIconWrapper {
    display: block;
  }
}
