:root {
  --background: #0f0f19;
  --foreground: #ffffffb3;
  --foreground-svg-filter: invert(100%) sepia(0%) saturate(7476%)
    hue-rotate(110deg) brightness(98%) contrast(108%);
  --max-wrapper-width: 1400px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:has(div[role="dialog"][data-open]) > header {
  isolation: isolate;
  z-index: 0;
}

.centered-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.not-found-header {
  font-size: 2em;

  margin-bottom: 20px;
}

.not-found-error-text {
  font-size: 1.2em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: var(--foreground);
}

.toast-viewport {
  position: absolute;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  bottom: 2rem;
  right: 2rem;
  left: auto;
  top: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
