.profileIconWrapper {
  display: none;
}

.profileIcon,
.profileIcon > img {
  border-radius: 50%;
}

.profileIcon {
  background: none;
  border: none;

  cursor: pointer;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  margin: 0;
  outline: 0;
}

.profileIcon:focus {
  outline: 2px solid var(--foreground);
  outline-offset: 2px;
}

.signInBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;

  padding: 8px;
  border: 1px solid #363b3d;
  border-radius: 8px;

  transition: border-color 0.08s linear;

  font-size: 0.9em;

  background-color: inherit;
}

.signInBtn:hover {
  border-color: #656565;
}

.Positioner {
  outline: 0;

  isolation: isolate;
  z-index: 20;
}

.Popup {
  box-sizing: border-box;
  padding-block: 0.25rem;
  border-radius: 0.375rem;
  background-color: var(--background);

  transform-origin: var(--transform-origin);
  transition: transform 150ms, opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  @media (prefers-color-scheme: light) {
    outline: 1px solid #363b3d;
    box-shadow: 0 10px 15px -3px #363b3d, 0 4px 6px -4px #363b3d;
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid #363b3d;
    outline-offset: -1px;
  }
}

.Item {
  outline: 0;
  cursor: pointer;
  user-select: none;
  padding-block: 0.65rem;
  padding-left: 1rem;
  padding-right: 3.5rem;
  display: flex;
  font-size: 0.875rem;
  line-height: 1rem;

  &[data-highlighted] {
    z-index: 0;
    position: relative;
  }

  &[data-highlighted]::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.25rem;
    border-radius: 0.25rem;
    background-color: rgba(236, 238, 244, 0.08);
  }
}

.Item > a {
  display: block;
  width: 100%;
  height: 100%;
}

.Separator {
  margin: 0.375rem 1rem;
  height: 1px;
  background-color: rgba(45, 48, 55, 0.8);
}

@media only screen and (min-width: 950px) {
  .profileIconWrapper {
    display: block;
  }
}
