.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.logoAndLinks {
  display: flex;
  align-items: center;

  gap: 50px;
}

.logoText {
  font-size: 1.5em;
}

.navLinks {
  list-style-type: none;
}

.navLinks > li {
  color: rgb(161, 161, 161);

  text-align: center;
}

.navLinks > li:hover {
  color: var(--foreground);
}

.navLinks,
.searchBar,
.profileIconWrapper {
  display: none;
}

@media only screen and (min-width: 950px) {
  .navLinks {
    display: flex;
    gap: 25px;
  }

  .profileIconWrapper {
    display: block;
  }
}
