.pageHeader {
  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;

  width: 100%;

  padding: 13px 20px;
  border-bottom: 1px solid #363b3d;

  background: var(--background);

  top: 0;
  z-index: 1;
}

.pageHeaderContentWrapper {
  display: flex;

  max-width: var(--max-wrapper-width);
  width: 100%;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.logoAndLinks {
  display: flex;
  align-items: center;

  gap: 50px;
}

.logoText {
  font-size: 1.5em;
}

.navLinks {
  list-style-type: none;
}

.navLinks > li {
  color: rgb(161, 161, 161);

  text-align: center;
}

.navLinks > li:hover {
  color: var(--foreground);
}

.navLinks,
.searchBar,
.profileIconWrapper {
  display: none;
}

@media only screen and (min-width: 950px) {
  .navLinks {
    display: flex;
    gap: 25px;
  }

  .profileIconWrapper {
    display: block;
  }
}
