.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.logoAndLinks {
  display: flex;
}

.logoText {
  font-size: 2em;
}

.navLinks,
.searchBar,
.profileIconWrapper {
  display: none;
}

@media only screen and (min-width: 950px) {
  .navLinks {
    display: flex;
  }

  .profileIconWrapper {
    display: block;
  }
}
