.mobileMenuToggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: inherit;

  transition: background-color 0.15s ease-in;

  width: 40px;
  height: 40px;

  position: relative;

  border: none;
  border-radius: 5px;
  padding: 10px;

  cursor: pointer;
}

.mobileMenuToggle:hover {
  background-color: #363b3d75;
}

.mobileMenuToggle > img {
  filter: invert(75%) sepia(99%) saturate(7%) hue-rotate(356deg)
    brightness(102%) contrast(96%);
}

.mobileMenu {
  margin-top: 50px;
  margin-left: -20px;

  position: absolute;
  z-index: 15;

  width: 100%;
}

.mobileMenuInteriorWrapper {
  display: flex;
  flex-direction: column;

  background-color: var(--background);

  gap: 20px;

  width: 100%;
  height: 100vh;

  z-index: 10;
}

.mobileMenuInteriorWrapper > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;

  list-style-type: none;
}

.mobileMenuInteriorWrapper > ul:last-child {
  border-top: 1px solid #363b3d;

  padding: 20px 0;
}

.mobileMenuInteriorWrapper button {
  background-color: inherit;
  color: hsla(0, 0%, 63%, 1);

  width: 100%;
  height: 50px;

  padding-left: 20px;
  border: none;
  border-radius: 10px;

  transition: background-color 0.15s ease-in;

  text-align: left;
  font-size: 1.05em;

  cursor: pointer;
}

.mobileMenuInteriorWrapper button > a {
  display: flex;
  align-items: center;

  height: 100%;
}

.mobileMenuInteriorWrapper button:hover {
  background-color: #363b3d75;
}

.profileBtn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileBtn > img {
  border-radius: 50%;
}

.profileBtn > a {
  flex: 1;
}

@media only screen and (min-width: 950px) {
  .mobileMenu {
    display: none;
  }

  .mobileMenuToggleWrapper {
    display: none;
  }
}
